{% extends "base.html" %}

{% block content %}
<section class="about">
    <div class="about-content">
        <h2>About Rock Mechanics @ Illinois</h2>
        <p>Rock Mechanics Lab at the Department of Civil and Environmental Engineering at the University of Illinois at Urbana-Champaign is focused on studying the mechanical behavior of rock-like geomaterials. Along with the traditional characterization of rock properties for various applications, we are interested in coupled thermo-hydro-mechanical-chemical behavior and fracturing of fluid-saturated rock.  Novel experimental techniques, such as high pressure/high temperature testing, multi-phase fluid injection, acoustic emission, digital image correlation, and others, are utilized for characterization of rock behavior  with applications to geoenergy projects.</p>
        
        <h2>How This Tool Can Help Students</h2>
        <p>This tool provides an interactive platform for students to generate correlation heatmaps from datasets related to rock mechanics. It helps in visualizing relationships between various rock properties, such as porosity, permeability, and strength. Students can also interact with a chatbot to get assistance and answer questions related to their projects and analysis.</p>
    </div>
</section>
{% endblock %}
